<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.seworld.dao.BoardMapper">

	<select id="getTotalList" resultType="int">
		SELECT COUNT(*)
		FROM
		c6_board
	</select>

	<select id="viewAllReviews" resultType="Board"
		parameterType="String">
		SELECT
		boardId
		,memberId
		,category
		,title
		,content
		,createdDate
		,updatedDate
		,exhibitionid
		FROM
		c6_board
		where
		category =
		'review' and
		memberId like '%' ||
		#{searchText} || '%' or title like '%' || #{searchText}
		|| '%'
		or content like '%' || #{searchText} || '%'
		ORDER BY
		boardId
		DESC
	</select>
	
		<select id="viewAllQuestions" resultType="Board"
		parameterType="String">
		SELECT
		boardId
		,memberId
		,category
		,title
		,content
		,createdDate
		,updatedDate
		,exhibitionid
		FROM
		c6_board
		where
		category =
		'question' and
		memberId like '%' ||
		#{searchText} || '%' or title like '%' || #{searchText}
		|| '%'
		or content like '%' || #{searchText} || '%'
		ORDER BY
		boardId
		DESC
	</select>

	<select id="viewBoardDetail" resultType="Board"
		parameterType="String">
		select
		boardId
		,memberId
		,category
		,title
		,content
		,createdDate
		,updatedDate
		,exhibitionid
		FROM
		c6_board
		WHERE boardid =
		#{boardId}
	</select>

	<!-- 게시물에 파일 저장시 외래키 받아오기 -->
	<select id="getBoardId" resultType="String"
		parameterType="String">
		select boardid from
		c6_board where memberid = #{memberId}
		and rownum=1
	</select>

	<insert id="insertBoard" parameterType="Board">
		INSERT INTO c6_board
		(
		boardid
		,memberid
		,category
		,title
		,content
		,createddate
		,updateddate
		,exhibitionid
		)
		VALUES
		(
		REPLACE('B' || TO_CHAR(c6_board_seq.NEXTVAL, '000000000'), ' ', '') 
		,#{memberId}
		,#{category}
		,#{title}
		,#{content}
		,SYSDATE
		,SYSDATE
		,#{exhibitionId}
		)
	</insert>

	<update id="updateBoard" parameterType="Board">
		UPDATE c6_board
		SET
		category = #{category}
		,title = #{title}
		,content = #{content}
		,updateddate = SYSDATE
		WHERE boardid = #{boardId}
	</update>

	<delete id="deleteBoard" parameterType="String">
		DELETE
		FROM c6_board
		WHERE
		boardid = #{boardId}
	</delete>

</mapper>