<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.seworld.dao.BoardMapper">

	<select id="viewAllBoard" resultType="board">
		select
		board_id
		,member_id
		,category
		,title
		,content
		,create_date
		,update_date
		from c6_board
		order by
		board_id desc
	</select>

	<select id="viewBoardDetail" resultType="board"
		parameterType="String">
		select
		board_id
		,member_id
		,category
		,title
		,content
		,create_date
		,update_date
		from c6_board
		where board_id = #{board_id}
	</select>

	<insert id="insertBoard" parameterType="board">
		insert into c6_board
		(
		board_id
		,member_id
		,category
		,title
		,content
		,create_date
		,update_date
		)
		values
		(
		c6_board_seq.nextval
		,#{member_id}
		,#{category}
		,#{title}
		,#{content}
		,sysdate
		,sysdate
		)
	</insert>

	<update id="updateBoard" parameterType="board">
		update c6_board
		category =
		#{category}
		,title = #{title}
		,content = #{content}
		,update_date =
		sysdate
		where board_id = #{board_id}
	</update>

	<delete id="deleteBoard" parameterType="String">
		delete from c6_board
		where board_id = #{board_id}
	</delete>
</mapper>