<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.seworld.dao.BoardMapper">

	<select id="viewAllBoards" resultType="board">
		SELECT
		board_id boardId
		,member_id memberId
		,category
		,title
		,content
		,created_date createdDate
		,updated_date updatedDate
		FROM c6_board
		ORDER BY board_id DESC
	</select>

	<select id="viewBoardDetail" resultType="board" parameterType="String">
		SELECT
		board_id boardId
		,member_id memberId
		,category
		,title
		,content
		,created_date createdDate
		,updated_date updatedDate
		FROM c6_board
		WHERE board_id = #{boardId}
	</select>

	<insert id="insertBoard" parameterType="board">
		INSERT INTO c6_board
		(
		board_id
		,member_id
		,category
		,title
		,content
		,created_date
		,updated_date
		)
		VALUES
		(
		'B' || TO_CHAR(c6_board_seq.NEXTVAL, '000000000')
		,#{memberId}
		,#{category}
		,#{title}
		,#{content}
		,SYSDATE
		,SYSDATE
		)
	</insert>

	<update id="updateBoard" parameterType="board">
		UPDATE c6_board
		SET
		category = #{category}
		,title = #{title}
		,content = #{content}
		,updated_date = SYSDATE
		WHERE board_id = #{boardId}
	</update>

	<delete id="deleteBoard" parameterType="String">
		DELETE
		FROM c6_board
		WHERE board_id = #{boardId}
	</delete>

</mapper>