<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.seworld.dao.CommentMapper">

	<select id="selectAllCommentsFromMember" parameterType="String" resultType="Comment">
		SELECT
		memberId
		,exhibitionId
		,rating
		,content
		,createdDate
		,updatedDate
		,likes
		FROM c6_comment
		WHERE memberId = #{memberId}
	</select>

	<select id="selectAllCommentsFromExhibition" parameterType="String" resultType="Comment">
		SELECT
		memberId
		,exhibitionId
		,rating
		,content
		,createdDate
		,updatedDate
		,likes
		FROM c6_comment
		WHERE exhibitionId = #{exhibitionId}
	</select>

	<select id="selectOneComment" parameterType="String" resultType="Comment">
		SELECT
		memberId
		,exhibitionId
		,rating
		,content
		,createdDate
		,updatedDate
		,likes
		FROM c6_comment
		WHERE memberId = #{memberId}
		  AND exhibitionId = #{exhibitionId}
	</select>

	<insert id="insertOneComment" parameterType="Comment">
		INSERT INTO c6_comment
		(
		memberId
		,exhibitionId
		,rating
		,content
		,createdDate
		,updtaedDate
		,likes
		)
		VALUES
		(
		#{memberId}
		,#{exhibitionId}
		,#{rating}
		,#{content}
		,SYSDATE
		,SYSDATE
		,0
		)
	</insert>

	<delete id="deleteOneComment" parameterType="Comment">
		DELETE
		FROM c6_comment
		WHERE memberId = #{memberId}
		  AND exhibitionId = #{exhibitionId}
	</delete>

	<update id="updateOneComment" parameterType="Comment">
		UPDATE c6_comment
		SET
		rating = #{rating}
		,content = #{content}
		,updatedDate = SYSDATE
		WHERE memberId = #{memberId}
		  AND exhibitionId = #{exhibitionId}
	</update>

</mapper>