<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.seworld.dao.ExhibitionDetailMapper">

	<select id="viewExhibitionDetail" parameterType="ExhibitionDetail" resultType="ExhibitionDetail">
		SELECT
		e.exhibitionId exhibitionId
		,#{memberId} memberId
		,w.wished wishing
		,c.rating rating
		,c.content content
		FROM c6_exhibition e
		LEFT OUTER JOIN (SELECT * FROM c6_wishing WHERE memberId = #{memberId}) w
		  ON e.exhibitionId = w.exhibitionId
		LEFT OUTER JOIN (SELECT * FROM c6_comment WHERE memberId = #{memberId}) c
		  ON e.exhibitionId = c.exhibitionId
		WHERE e.exhibitionId = #{exhibitionId}
	</select>

</mapper>