<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.seworld.dao.ExhibitionMapper">

	<select id="showExhibitionList" resultType="exhibition" parameterType="String">
		SELECT
		 exhibitionId
		, exhibitionTitleKor
		, exhibitionTitleEng
		, openingTerm
		, firstOpeningYear
		, openingCountry
		, openingCity
		, exhibitionHall
		,sponsor
		, createdDate
		, updatedDate
		, dataOffer
		FROM c6_exhibition
		<if test="_parameter != null and !_parameter.equals('')">
		WHERE openingCountry LIKE '%' || #{selectedCountry} || '%'
		</if>
		ORDER BY openingTerm DESC
	</select>

	<select id="getTotalList" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM c6_exhibition
		<if test="_parameter != null and !_parameter.equals('')">
		WHERE openingCountry LIKE '%' || #{selectedCountry} || '%'
		</if>
	</select>

	<select id="showExhibitionDetail" resultType="exhibition" parameterType="String">
		SELECT
		 exhibitionId
		, exhibitionTitleKor
		, exhibitionTitleEng
		, openingTerm
		, firstOpeningYear
		, openingCountry
		, openingCity
		, exhibitionHall
		,sponsor
		, createdDate
		, updatedDate
		, dataOffer
		FROM c6_exhibition
		WHERE exhibitionId = #{exhibitionId}
	</select>

</mapper>