<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.seworld.dao.ExhibitionMapper">

	<select id="showExhibitionList" resultType="exhibition" parameterType="String">
		SELECT
		exhibition_id exhibitionId
		,exhibition_title_kor exhibitionTitleKor
		,exhibition_title_eng exhibitionTitleEng
		,opening_term openingTerm
		,first_opening_year firstOpeningYear
		,opening_country openingCountry
		,opening_city openingCity
		,exhibition_hall exhibitionHall
		,sponsor
		,created_date createdDate
		,updated_date updatedDate
		,data_offer dataOffer
		FROM c6_exhibition
		<if test="_parameter != null and !_parameter.equals('')">
		WHERE opening_country LIKE '%' || #{selectedCountry} || '%'
		</if>
		ORDER BY opening_term DESC
	</select>

	<select id="getTotalList" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM c6_exhibition
		<if test="_parameter != null and !_parameter.equals('')">
		WHERE opening_country LIKE '%' || #{selectedCountry} || '%'
		</if>
	</select>

	<select id="showExhibitionDetail" resultType="exhibition" parameterType="String">
		SELECT
		exhibition_id exhibitionId
		,exhibition_title_kor exhibitionTitleKor
		,exhibition_title_eng exhibitionTitleEng
		,opening_term openingTerm
		,first_opening_year firstOpeningYear
		,opening_country openingCountry
		,opening_city openingCity
		,exhibition_hall exhibitionHall
		,sponsor
		,created_date createdDate
		,updated_date updatedDate
		,data_offer dataOffer
		FROM c6_exhibition
		WHERE exhibition_id = #{exhibitionId}
	</select>

</mapper>