<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.seworld.dto.ExbtInfo" alias="ExbtInfo" />
		<typeAlias type="global.sesoc.seworld.dto.c6_exhibition" alias="exhibition"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/exbtInfoMapper.xml"></mapper>
		<mapper resource="mappers/boardMapper.xml"/>
	</mappers>
</configuration>
